:root {
    font-family:Arial, Helvetica, sans-serif;
    --cloudburst: #223856;
    --Malibu: #90d6f6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container { 
    display: flex;
    flex-direction: row;
}

.highscores {
    margin-top:40px;
    margin-left:20px;
    flex: auto;
}

.quiz {
    margin: 120px 0px;
    padding: 0px 40px;
    flex: 0 0 65%;
    justify-content: center;
    text-align: center;
}

.timer {
    margin-top:40px;
    margin-right:20px;
    flex: auto;
    text-align:right;
}

#startQuiz {
    display: inline;
    padding: 5px;
    background-color: purple;
    color: white;
}

#startQuiz:hover {
    box-shadow: black;
    color: black;
    cursor:grab;
}

#introText {
    margin: 20px 0px;
}

@media only screen and (max-width: 734px) {
    .container { 
        display: flex;
        flex-direction: column;
    }

    .quiz {
        margin: 120px 0px;
        padding: 0px 40px;
        flex: 0 0 50%;
        justify-content: center;
        text-align: center;
    }

}
